doctype html
head
  title Vertex - Free Bootstrap 4 Template by Colorlib
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700' rel='stylesheet')
  link(rel='stylesheet' href='css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='css/animate.css')
  link(rel='stylesheet' href='css/owl.carousel.min.css')
  link(rel='stylesheet' href='css/owl.theme.default.min.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/aos.css')
  link(rel='stylesheet' href='css/ionicons.min.css')
  link(rel='stylesheet' href='css/bootstrap-datepicker.css')
  link(rel='stylesheet' href='css/jquery.timepicker.css')
  link(rel='stylesheet' href='css/flaticon.css')
  link(rel='stylesheet' href='css/icomoon.css')
  link(rel='stylesheet' href='css/style.css')
  script(src='https://kit.fontawesome.com/b730d73a89.js')
nav#colorlib-main-nav(role='navigation')
  a.js-colorlib-nav-toggle.colorlib-nav-toggle.active(href='#')
    i
  .js-fullheight.colorlib-table
    .colorlib-table-cell.js-fullheight
      .row
        .col-md-12.text-center
          ul
            li.active
              a(href='/login')
                span Strona glowna
            li
              a(href='/rental')
                span Wypozyczenia
            li
              a(href='/movie')
                span Filmy
            if sessionRole == 'admin'
                li
                  a(href='/admin')
                    span Panel administracyjny
            if cookie
                li
                  a(href='/logout')
                    span Wyloguj 
#colorlib-page
  header
    .container
      .row
        .col-md-12
          a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#')
            i
  section.home-slider.owl-carousel
    .slider-item(style="background-image: url('images/bg_1.jpg');")
      .overlay
      .container
        .row.slider-text.align-items-center(data-scrollax-parent='true')
          .col-md-7.col-sm-12.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
            h1.mb-3(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style='color: #1232B5; text-align: right') Do&sacute;wiadcz kinowej atmosfery w dowolnym miejscu na &sacute;wiecie
    .slider-item(style="background-image: url('images/bg_2.jpg');")
      .overlay
      .container
        .row.slider-text.align-items-center(data-scrollax-parent='true')
          .col-md-7.col-sm-12.ftco-animate(data-scrollax=" properties: { translateY: '70%' }")
            h1.mb-3(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style='color: #1232B5')  Korzystaj gdzie i kiedy tylko  chcesz 
  // END slider
  section.ftco-section.about-section
    .container
      .row.justify-content-center
        .col-md-9.text-center
          .ftco-animate
            h2
              strong Madev
              |  dzi&eogon;ki temu serwisowi mo&zdot;esz wypo&zdot;yczy&cacute; film i ogl&aogon;da&cacute; gdzie i kiedy chcesz. Je&sacute;li nie umiesz znale&zacute;&cacute; filmu na nielegalnych &zacute;r&oacute;d&lstrok;ach, to u nas go dostaniesz :D
  section.ftco-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
          h2 Poznaj nasz serwis
      .row
        .col-md-4.col-lg-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.p-3.py-4.d-block.text-center
            .icon.mb-3
              i.fas.fa-dollar-sign(style='font-size: 40px')
            .media-body
              h3.heading Niskie ceny
              p
                | Niskie ceny dzi&eogon;ki czemu zamiast marnowa&cacute; czas na szukanie darmowej wersji filmu, mo&zdot;esz go w niskiej cenie kt&oacute;ra ci&eogon; zadowoli
        .col-md-4.col-lg-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.p-3.py-4.d-block.text-center
            .icon.mb-3
              i.fas.fa-boxes(style='font-size: 40px')
            .media-body
              h3.heading Du&zdot;a biblioteka film&oacute;w
              p
                | Mamy kilkaset film&oacute;w i seriali. Zawsze znajdziesz co&sacute; dla siebie i to z ka&zdot;dego gatunku.
        .col-md-4.col-lg-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.p-3.py-4.d-block.text-center
            .icon.mb-3
              i.fas.fa-sort-alpha-down(style='font-size: 40px')
            .media-body
              h3.heading Napisy i j&eogon;zyki jakie chcesz
              p
                | Masz tak &zdot;e szukasz filmu, ale jest tylko z lektorem? Nawet chcesz dubbing a nie ma? U nas znajdziesz zawsze napisy, dubbing i lektor. Wszystkie mo&zdot;lwe opcje danego filmu posiaday &zdot;eby ka&zdot;dy by&lstrok; zadowolony
      .row.ftco-animate
        .col-md-12.text-center.button-degree.button-degree-dark-bg
          p
            if cookie
                a.btn.px-5.py-4(href='/logout') Wyloguj si&eogon;
            else
                a.btn.px-5.py-4(href='/login') Zaloguj si&eogon;
  section.ftco-section.bg-light(style='padding-top: 45px')
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
          h2 Nasze pakiety
      .row
        .col-md-4.mb-3.text-center.ftco-animate
          .pricing.p-4.py-5
            .icon.mb-2
              span.flaticon-skyline
            h3.mb-3 3w1
            p.mb-4
              | Nie mo&zdot;esz zdecydowa&cacute; kt&oacute;ry film wypo&zdot;yczy&cacute;? Wypo&zdot;ycz 3 filmy za jedyne 9z&lstrok; i oszcz&eogon;d&zacute; czas na wybieraniu
            p.price.mb-4.py-3
              span.mr-2.currency 9z&lstrok;
            .button-degree.button-degree
              span
                a.btn.px-4.py-3(href='#') Skorzystaj teraz
        .col-md-4.mb-3.text-center.ftco-animate
          .pricing.p-4.py-5
            .icon.mb-2
              span.flaticon-skyline
            h3.mb-3 Pakiet rodzinny 
            p.mb-4
              | Macie rodzin, ka&zdot;dy w&lstrok;asny komputer/TV i nikt z was nie ma co obejrze&cacute; a nie mo&zdot;ecie si&eogon; dogada&cacute; na jeden film? Nie ma problemu za 20z&lstrok; miesi&eogon;cznie mo&zdot;ecie wypo&zdot;ycza&cacute; dowolne filmy bezlimitu i ogl&aogon;da&cacute; na jednym koncie a&zdot; na 5 urz&aogon;dzeniach jednocze&sacute;nie
            p.price.mb-4.py-3
              span.mr-2.currency 20z&lstrok;
            .button-degree.button-degree
              span
                a.btn.px-4.py-3(href='#') Skorzystaj teraz
        .col-md-4.mb-3.text-center.ftco-animate
          .pricing.p-4.py-5
            .icon.mb-2
              span.flaticon-skyline
            h3.mb-3 Solo pakiet
            p.mb-4
              | Nie chcesz wypo&zdot;ycza&cacute; film&oacute;w bo ogl&aogon;dasz du&zdot;o i drogo Ci&eogon; to wyjdzie? We&zacute; pakiet solo i ogl&aogon;daj ca&lstrok;y miesi&aogon;c za 15z&lstrok; na jednym urz&aogon;dzeniu
            p.price.mb-4.py-3
              span.mr-2.currency 15z&lstrok;
            .button-degree.button-degree
              span
                a.btn.px-4.py-3(href='#') Skorzystaj teraz
  footer.ftco-footer.ftco-bg-dark.ftco-section
    .container
      .row.mb-5.justify-content-center
        .col-md-5.text-center
          .ftco-footer-widget.mb-5
            h4.mb-4 Madev
            ul.ftco-footer-social.list-unstyled
              li.ftco-animate
                a(href='#')
                  span.icon-twitter
              li.ftco-animate
                a(href='#')
                  span.icon-facebook
              li.ftco-animate
                a(href='#')
                  span.icon-instagram
          .ftco-footer-widget
            h2.mb-3 Contact Us
            p.h3.email
              a(href='#') madev@info.com
      .row
        .col-md-12.text-center
          p
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.icon-heart(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
  // loader
  #ftco-loader.show.fullscreen
    svg.circular(width='48px' height='48px')
      circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
      circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='js/jquery.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/scrollax.min.js')
script(src='js/bootstrap-datepicker.js')
script(src='js/jquery.timepicker.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='js/google-map.js')
script(src='js/main.js')

